<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav" id="sidenav01">
      	{% for category in categorys %}
        <li style="padding-left:10px;">
          <a href="#" data-toggle="collapse" data-target="#toggleDemo{{ loop.index }}" data-parent="#sidenav01" class="collapsed">
          <i class="fa fa-cloud"></i> {{ category.name|e }} <span class="caret pull-right"></span>
          </a><a class="" href="{{ path('_wiki_deleteCategory', {'id': category.id})}}"><i class="fa fa-times text-danger"></i></a>
          <div class="collapse" id="toggleDemo{{ loop.index }}" style="height: 0px;">
            <ul class="nav nav-list">
              {% for page in category.pages %}
	      		     <li class=""><a href="{{ path('_wiki_page', { 'slug': page.slug }) }}"><i class="fa fa-link"></i> {{ page.title }}</a></li>
	    	      {% endfor %}
            </ul>
          </div>
        </li>
        {% else %}
        <li><em>0 Catégorie</em></li>
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
