{% extends "WikiGeneralBundle::layout.html.twig" %}

 {% block content %}

<div class="container">

  <h1>Création d'une page</h1>

  <form action="{{ path('_wiki_createPage') }}" method="post" {{ form_enctype(form) }}>

    {% if (form_errors(form.category) or form_errors(form.title) or form_errors(form.body)) %}
      <div id="output" class="alert alert-danger animated fadeInUp">
        {{ form_errors(form.category) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.body) }}
      </div>
    {% endif %}

    <div class="form-group" id="category">
      {{ form_label(form.category, "Nom de la categorie") }}
      <ul class="tags" data-prototype="{{ form_widget(form.category.vars.prototype)|e }}">
        {# itère sur chaque tag existant et affiche son unique champ : name #}
        {% for category in form.category %}
            <li>{{ form_row(category.name) }}</li>
        {% endfor %}
      </ul>

    </div>
    <div class="form-group">
      {{ form_label(form.title, "Titre de l'article") }}
      {{ form_widget(form.title, {'attr': {'class': 'form-control input-lg', 'tabindex': '2'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.body, "Contenu") }}
      {{ form_widget(form.body, {'attr': {'class': 'form-control input-lg', 'tabindex': '3'}}) }}
    </div>
    {{ form_row(form._token) }}
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>


 {% endblock %}

 {% block javascripts %}
   <script>
    // Récupère le div qui contient la collection de tags
    var collectionHolder = jQuery('#category');

    // ajoute un lien « add a tag »
    var $addTagLink = jQuery('<a href="#" class="add_category_link">Ajouter une catégorie</a>');
    var $newLinkLi = collectionHolder.append($addTagLink);

    jQuery(document).ready(function() {
        // ajoute l'ancre « ajouter un tag » et li à la balise ul
        collectionHolder.append($newLinkLi);

        $addTagLink.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            addTagForm(collectionHolder, $newLinkLi);
        });
    });

    function addTagForm(collectionHolder, $newLinkLi) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
   </script>
 {% endblock %}
