{% extends '::base.html.twig' %}

{% block title 'Demo Bundle' %}

{% block body %}

    <div id="wrapper">
    <!-- Navigation -->
    {% block content_header %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wiki personnel</a>
        </div>
        <!-- /.navbar-header -->
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('_wiki_createPage') }}"><i class="fa fa-file fa-fw"></i> Ajouter une page</a>
                    </li>
                    <li><a href="{{ path('_wiki_createCategory') }}"><i class="fa fa-folder fa-fw"></i> Ajouter une categorie</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Profil</a>
                    </li>
                    <li><a href="{{ path('lexik_translation_grid')}}"><i class="fa fa-gear fa-fw"></i> Message</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Se deconnecter</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        {% endif %}
        
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse" id="filter">
              <div class="sidebar-search">
                <div class="input-group custom-search-form" >
                    <input type="text" class="form-control search" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
              </div>
              <ul class="nav list" id="side-menu">
                  {{ render(controller('WikiGeneralBundle:Category:showCategoryWithPage')) }}
              </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {% endblock %}
    <div id="page-wrapper">
        {% block content %}{% endblock %}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}


{% block javascripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
  <script src="{{ asset('bundles/wiki/js/wiki.js') }}"></script>
{% endblock %}

        

